<div class="portfolio portfolio-page container">
    <div class="row">
        <ul class="portfolio-img">
					<div class="questions">
  				<%= render @questions.reverse %>
					</div>
        </ul>
    </div>
</div>