<!-- <nav> -->
  <% if @current_user %>
    <%= link_to user_path(@current_user) do %>
    <i class="icon-user"></i><br />
    <span class="nav-text"><%= @current_user.username %></span>
    <% end %>
  <% else %>
   <%= link_to signup_path  do %>
   <i class="icon-user"></i><br /> <span class="nav-text">Sign Up</span>
   <% end %>
  <% end %> 
<!-- </nav> -->


